<div class="FooterLinks">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="FooterDetails">
                    <h2>ABOUT US</h2>
                    <p>Sharda Motor</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="FooterDetails">
                    <h2>CONTACT US</h2>
                    <p>SHARDA MOTOR</p>
                    <p>142 West newton, NY 19088.United States.</p>
                    <p>8308251021</p>
                    <p>info@realitywp.com</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="FooterDetails">
                    <h2>LINKS</h2>
                    <p><a id="lnkAboutus" href="#">About Us</a></p>
                    <p><a id="lnkContactus" href="#">Contact Us</a></p>
                    <p><a id="lnkBlogs" href="#">Blog</a></p>
                    <p><a id="lnkServices" href="#">Services</a></p>
                    <p><a id="lnkFAQ" href="#">FAQ</a></p>
                    <p><a id="lnkTermsAndCond" href="#">Terms & Conditions</a></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="FooterDetails">
                    <h2>NEWS LETTER SUBSCRIBE</h2>
                    <br>
                    <div class="form-group">
                        <label class="white" for="email">Email address:</label>
                        <br>
                        <input class="form-control SUBSCRIBE" name="Email" id="Email" placeholder="Your email address" type="email" required>
                        <span id="lblError" style="color:red"></span>
                    </div>
                    <button type="submit" id="btnSubscribe" class="btn btn-Signup btn-block">SUBSCRIBE</button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <p style="margin: 0px;color: #333333;">Copyright © 2020  Sharda Motor Industries Ltd</p>
            </div>
        </div>
    </div>
</footer>

